html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  background-color: #fefefe;
  color: #ccc;
}

a {
  text-decoration: none;
  color: #aaa;
  transition: color .5s ease-in-out;
}

[title="Twitter"]:hover {
  color: rgb(85,172,238);
}

[title="GitHub"]:hover {
  color: rgb(114,49,132);
}

[title="StackOverflow"]:hover {
  color: rgb(241,99,3);
}

[title="LinkedIn"]:hover {
  color: rgb(0,119,181);
}

[title="Resume"]:hover {
  color: rgb(178,36,52);
}

[title="Location"]:hover,
[title="Source"]:hover,
[title="Contact"]:hover {
  color: #444;
}

.grid-container {
  height: minmax(50vh, 70vh);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 2fr 1fr;
  grid-template-areas:
    "title"
    "subtitle"
    "nav"
    "footer";
  justify-items: center;
  align-items: center;
}

.title {
  grid-area: title;
  font-size: 14vw;
  margin: 0;
  line-height: 100%;
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
  padding: .2em;
  border-radius: .2em;
  transition: color 1s ease-in-out;
}

.title:hover {
  cursor: not-allowed;
  color: white;
  background: linear-gradient(90deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1000% 100%;
  animation: rainbow 10s linear infinite alternate;
}

@keyframes rainbow {
    0%{background-position:0%}
    100%{background-position:100%}
}

.subtitle {
  grid-area: subtitle;
  font-size: 3vw;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2vw;
}

.nav {
  grid-area: nav;
}

.link-list {
  font-size: 4vw;
}

.link-list li:not(:last-child) {
  margin-right: 2vw;
}

.footer {
  grid-area: footer;
}

.footer-list {
  font-size: 1.5vw;
}

.footer-list li:not(:last-child) {
  margin-right: 10vw;
}

.link-list,
.footer-list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.link-list li,
.footer-list li {
  display: inline;
}
