html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 2vw;
  font-weight: 400;
  background-color: #fdfdfd;
  color: #444;
}

a {
  text-decoration: none;
  color: #444;
  transition: color .5s ease-in-out;
}

[title="Twitter"]:hover {
  color: rgb(85,172,238);
}

[title="GitHub"]:hover {
  color: rgb(114,49,132);
}

[title="StackOverflow"]:hover {
  color: rgb(241,99,3);
}

[title="LinkedIn"]:hover {
  color: rgb(0,119,181);
}

[title="Resume"]:hover {
  color: rgb(178,36,52);
}

[title="Location"]:hover,
[title="Source"]:hover,
[title="Contact"]:hover {
  color: #999;
}

.grid-container {
  height: minmax(50vh, 70vh);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 2fr 1fr;
  grid-template-areas:
    "title"
    "subtitle"
    "nav"
    "footer";
  justify-items: center;
  align-items: center;
}

.title {
  grid-area: title;
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -.05em;
}

.subtitle {
  grid-area: subtitle;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1em;
  margin-right: -.5em /* half of letter-spacing */
}

.nav {
  grid-area: nav;
}

.link-list {
  font-size: 1.8em;
}

.link-list li:not(:last-child) {
  margin-right: 1em;
}

.footer {
  grid-area: footer;
  font-weight: 300;
  margin-right: -.25em;
}

.footer-list {
  font-size: .75em;
  letter-spacing: .4em;
}

.footer-list li:not(:last-child) {
  margin-right: 11em;
}

.link-list,
.footer-list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.link-list li,
.footer-list li {
  display: inline;
}
